.formulario {
    background-color: var(--fuente-color-primario);
    border-radius: 10px;
    border: 2px solid var(--color-primario);
    padding: 20px;

}

.formulario:hover {
    box-shadow: 0px 5px 15px var(--color-secundarioDos);
}

.imagenbanner {
    border-radius: 10px;
    transition: transform 0.1s ease-in-out;
}

.botonenviarcontact {
    margin: 20px;
    background-color: var(--color-secundarioDos) !important;
    padding: 12px;
    width: 80%;
    color: var(--fuente-color-primario);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out var(--fuente-color-secundarioDos);
}

.botonenviarcontact:hover {
    background-color: var(--color-secundario) !important;
}


.h1 {
    background-color: var(--fuente-color-secundarioDos);
}

.redessociales {
    color: var(--fuente-color-secundarioDos);
}

.redessociales:hover {
    color: var(--color-secundarioDos);
}