.contenedor-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.parrafo1 {
    color: var(--color-primario);
    font-size: 80px;
}

.parrafo2 {
    color: var(--fuente-color-secundarioDos);
    font-size: 120px;

}

.parrafo3 {
    color: var(--color-primario);
    font-size: 30px;
}

.btn-reg {
    background-color: var(--color-secundarioDos);
    color: white;
    text-align: center;
    width: 200px;
}

.btn-reg:hover {
    background-color: var(--color-secundarioDos);
    color: white;
}

#imagen-404 {
    width: 250px;
    margin-bottom: 15px;
    animation: moon 1.0s infinite alternate;
}

@keyframes moon {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(15px);
    }
}

