.black-link {
	color: var(--fuente-color-secundario);
}

.black-link:hover {
	color: var(--fuente-color-secundarioDos);
}

.registrotabla {
	padding: 10px;
}

.contenedorregistro {
	background-color: white;
	width: 90%;
	border-radius: 20px;
	transition: box-shadow 0.3s ease-in-out;
	border: 2px solid black;
}

.contenedorregistro:hover {
	box-shadow: 0px 5px 15px var(--color-secundarioDos);
}

.botonregis {
	background-color: var(--color-secundarioDos);
	border: none;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out;
	margin: 20px;
}

.botonregis:hover {
	background-color: var(--color-secundario);
}


